footer{
    height: 50vh;
    width: 100%;
    /* border: 5px solid blueviolet; */
    background-color: #091E3E;
}

.footerContainer{
    /* border: 6px solid rgb(59, 142, 31); */
    width: 90%;
    height: 80%;
    margin: 0 auto;
    display: flex;
}

.footerContainer .footerContainerLeft{
    width: 30%;
    height: 125%;
    /* border: 1px solid white; */
    background-color: #06A3DA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerContainerLeftContainer{
    /* border: 1px solid black; */
    height: 70%;
    width: 80%;
}

.footerContainerLeftLogo{
    /* border: 1px solid wheat; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    font-size: 2em;
}

.footerContainerLeftLogo a{
    color: white;
}

.footerContainerLeftDetail{
    /* border: 1px solid wheat; */
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footerContainerLeftDetail p{
    color: white;
    text-align: justify;
}

.footerContainerLeftForm{
    /* border: 1px solid wheat; */
    height: 20%;
}

.footerContainerLeftForm form{
    height: 100%;
    width: 100%;
    display: flex;
}

.footerContainerLeftForm form input[type="email"]{
    width: 80%;
    border: none;
}

.footerContainerLeftForm form input[type="email"]:placeholder-shown{
    padding-left: 5%;
}

.footerContainerLeftForm form input[type="submit"]{
    width: 20%;
    border: none;
    background-color: #091E3E;
    color: white;
}

.footerContainer .footerContainerRight{
    width: 70%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
}

.footerContainerRightItem1{
    /* border: 1px solid white; */
    height: 100%; 
    width: 30%;
}

.footerContainerRightItem1 .footerContainerRightItem1Top{
    width: 80%;
    height: 20%;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContainerRightItem1 .footerContainerRightItem1Top h4{
    border-bottom: 3px solid rgb(255, 255, 255);
    height:70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.footerContainerRightItem1 .footerContainerRightItem1Middle{
    /* border: 1px solid green; */
    width: 80%;
    height: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-content: center;
}

.footerContainerRightItem1 .footerContainerRightItem1Middle ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

.footerContainerRightItem1 .footerContainerRightItem1Middle ul li i{
    color: #06A3DA;
}

.footerContainerRightItem1 .footerContainerRightItem1Bottom{
    /* border: 1px solid white; */
    margin: 8% auto 0 auto;
    height: 15%;
    width: 80%;
}

.footerContainerRightItem1 .footerContainerRightItem1Bottom ul{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.footerContainerRightItem1 .footerContainerRightItem1Bottom ul li{
    background-color: #06A3DA;
    height: 100%;
    width: 17%;
   

}

.footerContainerRightItem1 .footerContainerRightItem1Bottom ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.footerContainerRightItem1 .footerContainerRightItem1Bottom ul li a:hover{
    color: black;
}

.footerContainerRightItem2{
    /* border: 1px solid rgb(183, 19, 19); */
    height: 100%;
    width: 30%;
}

.footerContainerRightItem2 .footerContainerRightItem2Top{
    width: 80%;
    height: 20%;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContainerRightItem2 .footerContainerRightItem2Top h4{
    border-bottom: 3px solid rgb(255, 255, 255);
    height:70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.footerContainerRightItem2 .footerContainerRightItem2Bottom{
    /* border: 1px solid white; */
    height: 70%;
    width: 80%;
    margin: 0 auto;
}

.footerContainerRightItem2 .footerContainerRightItem2Bottom ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footerContainerRightItem2 .footerContainerRightItem2Bottom ul li{
    width: 70%;
}

.footerContainerRightItem2 .footerContainerRightItem2Bottom ul li a{
    /* border: 1px solid honeydew; */
    color: white;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;

    
}

.footerContainerRightItem2 .footerContainerRightItem2Bottom ul li a:hover{
    color: #06A3DA;
    display: block;
    transform: translateX(15px);
}

.footerContainerRightItem2 .footerContainerRightItem2Bottom ul li a i{
    color: #06A3DA;
}

.footerBottom{
    background-color: #061429;
    width:100%; 
    height:20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerBottomText{
    /* border: 1px solid black; */
    width: 80%;
    display: flex;
    justify-content: end;
    color: white;
}

@media screen and (max-width:766px) {

    footer{
        height: 160vh;
    }

    .footerContainer{
        /* border: 6px solid rgb(59, 142, 31); */
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerContainer .footerContainerLeft{
        width: 90%;
        height: 40%;
        /* border: 1px solid white; */
        background-color: #06A3DA;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footerContainer .footerContainerRight{
        width: 100%;
        height: 100%;
        /* border: 1px solid white; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footerContainer .footerContainerRight ul{
        line-height: 1.5em;
    }

    .footerContainerRightItem1{
        /* border: 1px solid white; */
        height: 100%; 
        width: 100%;
    }

    .footerContainerRightItem2{
        /* border: 1px solid white; */
        height: 100%; 
        width: 100%;
    }

    .footerBottom{
        background-color: #061429;
        width:100%; 
        height:10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footerBottomText{
        /* border: 1px solid black; */
        width: 80%;
        display: flex;
        justify-content: end;
        color: white;
        font-size: 0.9em;
    }


}

@media screen and (min-width:767px) and (max-width:1023px) {

    footer{
        height: 160vh;
    }

    .footerContainer{
        /* border: 6px solid rgb(59, 142, 31); */
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerContainer .footerContainerLeft{
        width: 90%;
        height: 40%;
        /* border: 1px solid white; */
        background-color: #06A3DA;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footerContainer .footerContainerRight{
        width: 100%;
        height: 100%;
        /* border: 1px solid white; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footerContainer .footerContainerRight ul{
        line-height: 1.5em;
    }

    .footerContainerRightItem1{
        /* border: 1px solid white; */
        height: 100%; 
        width: 100%;
    }

    .footerContainerRightItem2{
        /* border: 1px solid white; */
        height: 100%; 
        width: 100%;
    }

    .footerBottom{
        background-color: #061429;
        width:100%; 
        height:10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footerBottomText{
        /* border: 1px solid black; */
        width: 80%;
        display: flex;
        justify-content: end;
        color: white;
        font-size: 0.9em;
    }
}