*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana';
    list-style: none;
    text-decoration: none;
}
/* progress  */
#progress {
    background-color: yellow;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 25%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#progressValue {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: rebeccapurple;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: green;
    font-weight: bold;
}

header {
    /* border: 1px solid black; */
    height: 70vh;
    width: 100%;
    background-image: url('../image/carousel-1.jpg');
}

.headerContainer {
    /* border: 5px solid rgb(144, 36, 36); */
    width: 100%;
    height: 100%;
    background-color: #0f2026c8;

}

.headerContainer .headerTop {
    /* border: 1px solid black; */
    width: 100%;
    height: 20%;
    margin: 0 auto;
    position: fixed;
    background-color: #06a2da4e;
}





.headerContainer .headerTop .bannerContainer {
    width: 100%;
    height: 30%;
    background-color: #4A5260;
}

.headerContainer .headerTop .banner {
    /* border: 1px solid rgb(19, 184, 43); */
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background-color: #4A5260;
    display: flex;
    align-items: center;

}

.headerContainer .headerTop .banner .bannerLeft {
    width: 50%;
    /* border: ; */
}

.headerContainer .headerTop .banner .bannerLeft ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.headerContainer .headerTop .banner .bannerLeft ul li {
    color: white;
    font-size: 0.9em;
}

.headerContainer .headerTop .banner .bannerRight {
    width: 20%;
    /* border: 1px solid rgb(19, 184, 43); */

}

.headerContainer .headerTop .banner .bannerRight ul {
    /* border: 1px solid rgb(19, 184, 43); */
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.headerContainer .headerTop .banner .bannerRight ul li a {
    color: white;
    font-size: 1em;
}

.headerTop .navContainer {
    width: 100%;
    height: 70%;
    border-bottom: thin solid rgb(91, 91, 91);

    /* background-color: red; */
}

.headerTop nav {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;

}
.navBar{
    border: 2px solid red;
}

.headerTop nav .logo {
    /* border: 1px solid rgb(19, 184, 43); */
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 2em;
}


.headerTop nav .logo a {
    color: white;

}

menu {
    width: 60%;
    height: 100%;
    /* border: 7px solid rgb(19, 184, 43); */
    display: flex;
    justify-content: end;


}

menu ul {
    /* border: 6px solid darkgoldenrod; */
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;

}

menu ul li {
    color: white;
    height: 100%;
    width: 20%;
    /* border: 2px solid rgb(202, 47, 130); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

menu ul li a {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid rgb(0, 255, 4); */

}

menu ul li a:hover {
    color: #06A3BA;
    border-bottom: 3px solid #06A3BA;
}

menu ul li a {
    color: white;
    width: 50%;
}

menu ul li select {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    height: 100%;

}

menu ul li select:hover {
    color: #06A3BA;
    border-bottom: 3px solid #06A3BA;
}

.headerTop nav .buttonPro {
    /* border: 1px solid black; */
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;


}

.headerTop nav .buttonPro a {
    height: 40%;
    width: 80%;
    background-color: rgb(16, 81, 138);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.headerTop nav .buttonPro a:hover {
    background-color: rgb(12, 63, 108);
}

.headerMiddle {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.headerMiddle h6 {
    font-size: 3em;
    margin-top: 250px;
}

.headerMiddle p {
    font-size: 2em;
    font-weight: bold;
}

.headerMiddle p a {
    color: white;
    font-size: 17px;
}

.headerMiddle p i {
    color: white;
    font-size: 12px;
}

.headerMiddleBtn {
    /* border: 1px solid black; */
    display: flex;
    width: 25%;
    height: 15%;
    justify-content: space-between;
    margin-top: 3%;
}

.headerMiddleBtn div {
    height: 100%;
    width: 48%;
}

.headerMiddleBtn div a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06A3BA;
    color: white;
}

.headerMiddleBtn div a:hover {
    background-color: #0a879a;

}

.headerMiddleBtn div a.btn2 {
    background-color: transparent;
    border: 2px solid white;
}

.headerMiddleBtn div a.btn2:hover {
    background-color: #06A3BA;
}

.headerBottom {
    /* border: 3px solid goldenrod; */
    height: 20%;
    width: 100%;
    margin-top: 4.5%;
}

.headerBottomContainer {
    /* border: 1px solid red; */
    margin: 0 auto;
    height: 100%;
    width: 80%;
    display: flex;
}

.headerBottomContainer .headerBottomContainerItem1 {
    width: 40%;
    height: 100%;
    background-color: #06A3BA;
    /* border: 1px solid greenyellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerBottomContainer .headerBottomContainerItem1 .icon {
    /* border: 1px solid black; */
    height: 40%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: #06A3BA;
    background-color: white;
}

.headerBottomContainer .headerBottomContainerItem1 .detail {
    color: white;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 36%;
    font-size: 1.3em;
}

.headerBottomContainer .headerBottomContainerItem2 {
    width: 40%;
    height: 100%;
    background-color: #ffffff;
    /* border: 1px solid greenyellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid greenyellow; */
}

.headerBottomContainer .headerBottomContainerItem2 .icon {
    /* border: 1px solid black; */
    height: 40%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: #ffffff;
    background-color: #06A3BA;
}

.headerBottomContainer .headerBottomContainerItem2 .detail {
    color: #06A3BA;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 36%;
    font-size: 1.3em;
}

.headerBottomContainer .headerBottomContainerItem2 .detail h5 {
    color: black;
}

main {
    height: 2vh;
    width: 100%;
    border: 1px solid seagreen;
    margin-top: 5%;
}

footer {
    height: 50vh;
    width: 100%;
    border: 5px solid blueviolet;
    background: linear-gradient();
}

.footerContainer {
    border: 1px solid black;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/* Stylisation du main */
:root{
    --main-color: #06A3DA;
    --second-color: #091E3E;
}
.content-apropos{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}
.section-apropos{
    display: grid;
    grid-template-columns: 59% 40%;
    gap: 8px;
}
.titre{
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}
.entete{
    font-size: 35px;
    padding: 10px;
}
.deco{
    width: 20%;
    border: 2px solid var(--main-color);
    margin-left:15px;
    border-radius: 5px;
}
.paragraphe{
    padding: 15px;
    font-size: 15px;
    color: #6B6A75;
    line-height: 25px;
    text-align: justify;  
}

.image-apropos img{
    width: 100%;
    height: 480px;
}
.check-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin-left: 10px;
}
.right p, .left p{
   
    font-size: 16px;
}
.left i, .right i{
    color: var(--main-color);
    font-size: 25px;
    font-weight: bold;
}
.telephone{
    display: grid;
    /* border: 2px solid; */
    width: 70%;
    margin-left: 15px;
    grid-template-columns: 10% auto;
    gap: 20px;
    margin-top: 15px;
}
.icone-tel{
    background-color: var(--main-color);
    border-radius: 3px;
    display: flex;
    align-items: center;
}
.icone-tel i{
    color: white;
    padding: 10px;
    font-size: 20px;
    
}
.num-tel{
    font-size: 17px;
    color: var(--second-color);
}
.num-tel span{
    color: var(--main-color);
}
.btn-request{
    background-color: var(--main-color);
    color: white;
    border: none;
    width: 30%;
    height: 40px;
    margin: 15px;
    border-radius: 3px;
    font-weight:200;
    margin-top: 30px;
}
/* Stylisation de la team dans apropos */
.content-team{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    /* height: 600px; */
}
.grid-container{
    /* background-color: #06A3DA; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.grid-items{
    /* border: 2px solid red; */
    background-color: #EEF9FF;
    border-radius: 5px;
}
.col1 img{
    width: 100%;
}
.col2 img {
    width: 100%;
}
.col3 img {
    width: 100%;
}
.titre-membre{
    text-align: center;
    color: var(--main-color);
    font-weight: bold;
    font-size: 17px;
    line-height: 40px;
}
.paragraphe-membre{
    text-align: center;
    font-size: 30px;
    color: var(--second-color);
    line-height: 40px;
}
.hr-membre{
    width: 10%;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.name{
    padding: 10px;
    text-align: center;
    color: var(--main-color);
    font-size: 25px;
}
.designation{
    text-align: center;
    color: #6B6A75;
    padding-bottom: 20px;
    font-size: 14px;
}
/* Stylisation des partenaires */
.content-partenaires{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}
.partenaires{
    display: grid;
    grid-template-columns: repeat(8, 10%);
    gap: 30px;
}

.partenaire-items img{
    width: 100%;
    height: auto;
}
/* Media quedia */
@media (max-width: 1024px){
    .content-apropos {
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
    }
    
    .section-apropos {
        display: grid;
        grid-template-columns: 59% 40%;
        gap: 8px;
    }
}
@media (max-width: 780px) {
    .content-apropos {
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .section-apropos {
        display: grid;
        grid-template-columns: 90%;
        gap: 8px;
    }
    .check-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 70%;
        margin-left: 10px;
    }

    .right p,
    .left p {

        font-size: 16px;
    }

    .left i,
    .right i {
        color: var(--main-color);
        font-size: 20px;
        font-weight: bold;
        line-height: 40px;
    }
    .icone-tel {
        background-color: var(--main-color);
        border-radius: 3px;
        display: flex;
        align-items: center;
        
    }

    .icone-tel i {
        color: white;
        /* padding: 10px; */
        font-size: 16px;

    }

    .num-tel {
        font-size: 17px;
        color: var(--second-color);
    }
    .content-team {
        width: 80%;
        margin: 0 auto;
        margin-top: 50px;
        /* height: 600px; */
    }

    .grid-container {
        /* background-color: #06A3DA; */
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }

}
@media (max-width: 480px) {
    .content-apropos {
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .section-apropos {
        display: grid;
        grid-template-columns: 100%;
        gap: 8px;
    }

    .check-info {
        display: grid;
        grid-template-columns: 4fr;
        width: 90%;
        margin-left: 10px;
    }
    .telephone{
        display: grid;
        border: 2px solid;
        width: 80%;
        margin-left: 15px;
        grid-template-columns: 20% auto;
        gap: 20px;
        margin-top: 15px;
    }
    .icone-tel {
        background-color: var(--main-color);
        border-radius: 3px;
        display: flex;
        align-items: center;
        border: 2px solid;
        
    }
}
